<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chat.dao.ActiveDao"><!--dao包路径-->
    <!--    通过商品id查询商品详情-->
    <select id="selectActive" resultType="com.chat.entity.Active">
        select ac.*,us.head_img from active ac
        left join user us
        on ac.id=us.id
        order by created desc
    </select>
</mapper>